*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #250057;
}

.box{
    background: #ffff;
    width: 90%;
    max-width: 500px;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.box input{
    border: none;
    outline: none;
    font-size: 23px;
    width: 100%;
    padding: 10px 0;
    color: #555;
}

.box img{
    width: 45px;
    height: 30px;
    cursor: pointer;
}